<h1>Listing ingredientships</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Style</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredientships.each do |ingredientship| %>
  <tr>
    <td><%= ingredientship.amount %></td>
    <td><%= ingredientship.style %></td>
    <td><%= link_to 'Show', ingredientship %></td>
    <td><%= link_to 'Edit', edit_ingredientship_path(ingredientship) %></td>
    <td><%= link_to 'Destroy', ingredientship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredientship', new_ingredientship_path %>
