<p id="notice"><%= notice %></p>

<p>
  <b>Occasion:</b>
  <%= @lunch.occasion %>
</p>

<p>
  <b>Food:</b>
  <%= @lunch.food_id %>
</p>

<p>
  <b>Meal:</b>
  <%= @lunch.meal_id %>
</p>

<p>
  <b>Date:</b>
  <%= @lunch.date %>
</p>


<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
